@font-face {
    font-family: 'ProximaNova';
    src: url("fonts/proximanovasoft-regular-webfont.ttf") format('truetype');
    font-weight: 300;
    font-style: normal; }

@font-face {
    font-family: 'ProximaNova';
    src: url("fonts/proximanovasoft-medium-webfont.ttf") format('truetype');
    font-weight: 500;
    font-style: normal; }

@font-face {
    font-family: 'ProximaNova';
    src: url("fonts/proximanovasoft-semibold-webfont.ttf") format('truetype');
    font-weight: 700;
    font-style: normal; }

@font-face {
    font-family: 'ProximaNova';
    src: url("fonts/proximanovasoft-bold-webfont.ttf") format('truetype');
    font-weight: 900;
    font-style: normal; }

.content
{
    width: 320px;
    margin: 0px auto;
}

body {
    background-color: #f1efd4;
}

h1 {
    margin: 0 auto 20px auto;
    text-align: center;
    font-family: ProximaNova, Arial, sans-serif;
    font-weight: 700;
}
span #current_turn
{
    font-weight: bold;
}

.row
{
    clear: both;
}

.row div
{
    text-align: center;
    border-color: black;
    border-style: solid;
    width: 100px;
    height: 90px;
    float: left;
    font-size: 70px;
    padding-top: 10px;
    font-weight: bold;
    /*font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;*/
    font-family: ProximaNova, Arial, sans-serif;
}

#cell_top_left { border-width: 0px 4px 4px 0px; }
#cell_top_center { border-width: 0px 4px 4px 4px; }
#cell_top_right { border-width: 0px 0px 4px 4px; }

#cell_middle_left { border-width: 4px 4px 4px 0px; }
#cell_middle_center { border-width: 4px 4px 4px 4px; }
#cell_middle_right { border-width: 4px 0px 4px 4px; }

#cell_bottom_left { border-width: 4px 4px 0px 0px; }
#cell_bottom_center { border-width: 4px 4px 0px 4px; }
#cell_bottom_right { border-width: 4px 0px 0px 4px; }

.text
{
    clear: both;
    padding-top: 20px;
    text-align: center;
    font-family: ProximaNova, Arial, sans-serif;
    font-size: 30px;
}
