<!--
    By Hosuke (Huang Geyang)
    github.com/hosuke
 -->
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tic-Tac-Toe</title>
        <link rel="stylesheet" type="text/css" href="buttons/css/buttons.css"/>
        <link rel="stylesheet" type="text/css" href="css.css" />
        <script src="buttons/js/buttons.js"></script>
        <script src="http://cdn.bootcss.com/angular.js/1.3.0-beta.8/angular.min.js"></script>
        <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
        <script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="mp3.js"></script>

    </head>
    <body ng-app="tttApp">


        <div class="content" ng-controller="tttController">
            <h1>Tic-Tac-Toe</h1>
            <div class="board" ng-model="ttt">
                <div class="row">
                    <div grid id="cell_top_left" ng-click="clicked('tl');">{{ttt.tl}}</div>
                    <div grid id="cell_top_center" ng-click="clicked('tc');">{{ttt.tc}}</div>
                    <div grid id="cell_top_right" ng-click="clicked('tr');">{{ttt.tr}}</div>
                </div>
                <div class="row">
                    <div grid id="cell_middle_left" ng-click="clicked('ml');">{{ttt.ml}}</div>
                    <div grid id="cell_middle_center" ng-click="clicked('mc');">{{ttt.mc}}</div>
                    <div grid id="cell_middle_right" ng-click="clicked('mr');">{{ttt.mr}}</div>
                </div>
                <div class="row">
                    <div grid id="cell_bottom_left" ng-click="clicked('bl');">{{ttt.bl}}</div>
                    <div grid id="cell_bottom_center" ng-click="clicked('bc');">{{ttt.bc}}</div>
                    <div grid id="cell_bottom_right" ng-click="clicked('br');">{{ttt.br}}</div>
                </div>
            </div>

            <div class="text">
                <a id="reset_game" type="button" class="button button-3d-primary button-rounded" ng-click="reset()">Reset Game</a>
            </div>

            <div class="text" ng-model="ttt">
                Current Turn: <span id="current_turn">{{ttt.cur}}</span>
            </div>
        </div>
    </body>
</html>
